/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-padding-top: 80px;
}

body {
  font-family: didot (serif);
  margin: auto;
  background-color: rgb(217, 243, 234);
}

section {
  border: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */
h1.playtitle {
  text-align: center;
  margin-top: 2em;
  font-size: 2.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(58, 58, 38);
}
section.cover {
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

img.playimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}

img.shakespeareimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}


section.play {
background-color: white;
width: 80%;
margin: 3em auto;
padding: 1em;
}
figure {
  width: 80%;
  margin: 1.5em auto 0 auto;
}
img {
  width: 100%;
  margin: 0;
}
div.sceneImage {
  margin: 2em;
}
.act {
  font-size: 1.5em;
  color: rgb(23, 122, 89);
 text-align: center;
 margin-top: 3em;
}

.scene {
  font-size: 1.5em;
color: rgb(13, 83, 60);
text-align: center;
margin-top: 3em;
}

.firstscene {
  font-size: 1.2em;
  color: rgb(13, 83, 60);
  text-align: center;
  margin-bottom: 0.2em;
}

.firstact {
  font-size: 1.5em;
  color: rgb(23, 122, 89);
 text-align: center;
}

p.charactername {
  font-size: 0.9em;
  margin-left: 7em;
  font-weight: 700;
}

p.lastlineinverse {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.5em;}

span.character_role {
  font-weight: 400;
}
h1.dramatishead {
  margin-top: 1em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: rgb(23, 122, 89);
  text-align: center;
}
.location {
font-size: 0.8em;
text-align: center;
margin-bottom: 1em;
}
p.play_location {
  font-size: 0.9em;
  margin-left: 7em;
  font-weight: 700;
  margin-top: 1em;
}


p.song {
  text-align: center;
}
h2.stagedirection {
  font-size: 1.1em;
  font-style: italic;
  margin-top: 0.5em;
  text-align: center;
}
.verseline, .verse_after {
  margin: 0 0.4em 0.4em 8em;
}

.backtotop {
  position: fixed;
  bottom: 2px;
  right: 8px;
  opacity: 0.9;
}

.backtotop a {
text-decoration: none;
font-size: 3em;
color: rgb(13, 83, 60);
}

.backtotop a:hover {
  color: black;
}

.caption {
font-size: 0.7em;
color: rgb(35, 160, 118);
text-align: center;
margin-top: -1.5em;
}

.character_beforespeech {
  display: block;
  position: relative;
  left: -7.5em;
  top: 1em;
  font-size: 1.1em;
  width: 6.9em;
  padding-left: 4px;
  z-index: 2;
}

nav {
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgb(191, 212, 189);
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  margin-bottom: 590px;
  z-index: 3;
}

li.home{
  margin-right: auto;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  flex: 0 0 8rem;
  text-align: center;
}

nav ul li:hover {
background-color: rgb(143, 161, 141);
opacity: 1;
}

nav ul li:hover ul{
display: flex;
flex-direction: column;
background-color: rgb(143, 161, 141);
opacity: 1;
  }

nav ul li a {
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
}

nav ul li a:hover {
color: aliceblue;
}

nav ul li ul li {
flex: 0 1 auto;
width: 8rem;
}

li ul {
  display: none;
  position: absolute;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
}


@media screen and (max-width: 500px) {
html{
  scroll-padding-top: 0px;
}
nav{
  margin-bottom: 700px;
}
  h1.playtitle {
    text-align: center;
    margin-top: 0.8em;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(58, 58, 38);
  }
  nav ul {
    display: none;
    flex-direction: column;
    background-color: rgb(191, 212, 189);
  }
  
  li ul {
    position: static;
  }

  nav ul li {
    flex: 0 0 auto;
    width: 100%;
  }
  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(89, 105, 87);
  }
  input[type="checkbox"]:checked ~ nav{
    display: block;
    margin-bottom: 20px;
    background-color: rgb(191, 212, 189);
  }
 
  input[type="checkbox"]:checked ~ ul {
    display: block;
  }
  
  .verseline, .verse_after {
    margin: 0 0.4em 0.4em 6em;
    font-size: 0.6em;
  }

  .prose {
    font-size: 0.6em;
  }
  p.song {
    font-size: 0.6em;
    text-align: center;
  }
  .character_beforespeech {
    display: block;
    position: relative;
    left: -7.5em;
    top: 1em;
    font-size: 0.9em;
    width: 6em;
    padding-left: 4px;
  }

    .caption {
      font-size: 0.3em;
      color: rgb(35, 160, 118);
      text-align: center;
      margin-top: -1.5em;
      }

  h2.stagedirection {
        font-size: 0.6em;
        font-style: italic;
        margin-top: 0.5em;
      }
      .act {
        font-size: 1.2em;
        color: rgb(23, 122, 89);
       text-align: center;
       margin-top: 3em;
      }
      
      .scene {
        font-size: 1.2em;
      color: rgb(13, 83, 60);
      text-align: center;
      margin-top: 3em;
      }
      
      .firstscene {
        font-size: 0.8em;
        color: rgb(13, 83, 60);
        text-align: center;
        margin-bottom: 0.2em;
      }
      
      .firstact {
        font-size: 1.2em;
        color: rgb(23, 122, 89);
       text-align: center;
      }
      .location {
        font-size: 0.7em;
        text-align: center;
        margin-bottom: 1em;
        }

        p.charactername {
          font-size: 0.6em;
          margin-left: 7em;
          font-weight: 700;
        }
        h1.dramatishead {
          margin-top: 0.7em;
          margin-bottom: 0.4em;
          font-size: 1em;
          color: rgb(23, 122, 89);
          text-align: center;
        }
        p.play_location {
          font-size: 0.6em;
          margin-left: 7em;
          font-weight: 700;
          margin-top: 0.6em;
        }
        p.lastlineinverse {
          font-size: 1em;
          text-align: center;
          margin-top: 1em;
          margin-bottom: 0.3em;}
}